################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp4/v16
/AdventOfCode2019_Day3_2/obj/Debug
/obj/Debug
/.vs/ConsoleApp4/DesignTimeBuild
/AdventOfCode2019_Day10_2/bin/Release
/AdventOfCode2019_Day11/bin
/AdventOfCode2019_Day11/obj
/AdventOfCode2019_Day12/bin
/AdventOfCode2019_Day12/obj
/AdventOfCode2019_Day12_2/bin/Release
/AdventOfCode2019_Day12_2/obj/Debug
/AdventOfCode2019_Day12_2/obj/Release
/AdventOfCode2019_Day13/obj/Debug
/AdventOfCode2019_Day3/bin/Release
/AdventOfCode2019_Day4/obj/Release
/AdventOfCode2019_Day6_1/obj/Release
/obj/Release
/AdventOfCode2019_Day10_2/obj/Release
bin
obj
*.suo
*.user
.vs